// Google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Teko:300,400&display=swap');

// Font Variables
$teko-font: 'Teko', sans-serif;
$open-font: 'Open Sans', sans-serif;

.nav-wrapper {
  text-align: center;
    
}
.list-item {
  list-style-type: none;
}

.nav-item {
  color: white;
  font-family: $teko-font;
  font-weight: lighter;
  font-size: 35px;
  text-decoration: none;
  margin-bottom: 8px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-left: 35px;

  &:hover,
  &:active {
    border-bottom-color: white;
  }
}

@keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

.index-page {
    background-image: 
      linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), 
      url(/../assets/img/clouds-conifers-country.jpg);
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
  text-align: center;
}

.header-wrap {
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-bottom: 8px;
  padding-bottom: 20px;
}

.index-wrapper {
  margin: auto;
  width: 70%;
  flex: 1 0 auto;
}

.index-header {
  color: white;
  font-family: $open-font;
  font-weight: lighter;
  padding: 24px 4px 0 4px;
  margin: 0px;
}

.index-p {
  color: white;
  font-family: $open-font;
  font-weight: lighter;
  text-align: left;
  padding: 24px 4px 24px 4px;
  margin: 0px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-bottom: 12px;
}

.footer-style {
  color: ivory;
  font-family: $teko-font;
  font-weight: lighter;
  font-size: 24px;
  width: 100%;
  flex-shrink: 0;

}

.social-wrapper {
  margin: auto;
  width: 60%;
  text-align: center;
}

.post-header {
  font-family: $teko-font;
  color: white;
  list-style-type: none;
}

.post-title {
  font-family: $teko-font;
  color: rgba(25, 181, 254, 1);


  &:hover {
    color: white;
  }
}

.post-excerpt {
  font-family: $teko-font;
  color: white;
  font-size: 18px;
  
  img {
    padding-top: 8px;
    width: 100%;
  }

  a:link, a:visited {
    color: rgba(25, 181, 254, 1);

    &:hover {
      color: white;
    }
  }
}

.blog-post-title {
  font-family: $open-font;
  font-weight: lighter;
  color: white;
}

.post-content {
  font-family: $open-font;
  font-weight: lighter;
  color: white;
  margin-bottom: 24px;
  font-size: 18px;

  a:link, a:visited {
    color: rgba(25, 181, 254, 1);


    &:hover {
      color: white;

    }
  }

  ol ul {
    list-style-type: disc;
  }

  img {
    padding-top: 8px;
    width: 100%;
  }

  blockquote {
    background-color: rgba(211,211,211,0.3);
    text-align: center;
  }
}

.contact-icon {
  padding: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.contact-icon.fa-linkedin {
  color: white;
}

.contact-icon.fa-linkedin:hover {
  background-color: transparent;
  color: rgba(25, 181, 254, 1);
}

.contact-icon.fa-twitter {
  color: white;
}

.contact-icon.fa-twitter:hover {
  background-color: transparent;
  color: rgba(25, 181, 254, 1);
}

.contact-icon.fa-envelope {
  color: white;
}

.contact-icon.fa-envelope:hover {
  background-color: transparent;
  color: rgba(25, 181, 254, 1);
}

.contact-icon.fa-github {
  color: white;
}

.contact-icon.fa-github:hover {
  background-color: transparent;
  color: rgba(25, 181, 254, 1);
}

// Font Awesome Icons
.fa-fire {
  color: red;
  padding: 0px;
}

.fa-wind {
  color: rgba(175, 193, 28, 1);
  padding: 0 8px 0 0;
}

/* Share Bar */
#share-bar {
    font-size: 20px;
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
    color: white;
    font-family: $open-font;
}

/* All buttons */
.share-buttons {
  a:link {
    text-decoration: none;
  }
}

/* Each button */
.share-button {
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 3px;
    border: 1px solid #D3D6D2;
    padding: 5px 10px 5px 10px;
}

.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fa-facebook-official {
    color: #3b5998;
}
.fa-facebook-official:hover {
    background-color: #3b5998;
}

/* Twitter button */
.fa-twitter {
    color: #55acee;
}
.fa-twitter:hover {
    background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus {
    color: #dd4b39;
}
.fa-google-plus:hover {
    background-color: #dd4b39;
}

/* Pinterest button */
.fa-pinterest-p {
    color: #cb2027;
}
.fa-pinterest-p:hover {
    background-color: #cb2027;
}

/* Tumblr button */
.fa-tumblr {
    color: #32506d;
}
.fa-tumblr:hover {
    background-color: #32506d;
}

/* Reddit button */
.fa-reddit-alien {
    color: #ff4500;
}
.fa-reddit-alien:hover {
    background-color: #ff4500;
}

/* LinkedIn button */
.fa-linkedin {
    color: #007bb5;
}
.fa-linkedin:hover {
    background-color: #007bb5;
}

/* Email button */
.fa-envelope {
    color: #444444;
}
.fa-envelope:hover {
    background-color: #444444;
}