// Google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Teko:300,400&display=swap');

// Font Variables
$teko-font: 'Teko', sans-serif;
$open-font: 'Open Sans', sans-serif;

.nav-wrapper {
  text-align: center;
    
}
.list-item {
  list-style-type: none;
}

.nav-item {
  color: white;
  font-family: $teko-font;
  font-weight: lighter;
  font-size: 35px;
  text-decoration: none;
  margin-bottom: 8px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-left: 35px;

  &:hover,
  &:active {
    border-bottom-color: white;
  }
}

@keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

.index-page {
    background-image: 
      linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), 
      url(/../assets/img/clouds-conifers-country.jpg);
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
  text-align: center;
}

.header-wrap {
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-bottom: 8px;
  padding-bottom: 20px;
}

.index-wrapper {
  margin: auto;
  width: 70%;
  flex: 1 0 auto;
}

.index-header {
  color: white;
  font-family: $open-font;
  font-weight: lighter;
  padding: 24px 4px 0 4px;
  margin: 0px;
}

.index-p {
  color: white;
  font-family: $open-font;
  font-weight: lighter;
  text-align: left;
  padding: 24px 4px 24px 4px;
  margin: 0px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-bottom: 12px;
}

.footer-style {
  color: ivory;
  font-family: $teko-font;
  font-weight: lighter;
  font-size: 24px;
  width: 100%;
  flex-shrink: 0;

}

.social-wrapper {
  margin: auto;
  width: 60%;
  text-align: center;
}

.post-header {
  font-family: $teko-font;
  color: white;
  list-style-type: none;
}

.post-title {
  font-family: $teko-font;
  //color: white;
      color: rgba(25, 181, 254, 1);


  &:hover {
    //color: rgba(25, 181, 254, 1);
    color: white;

  }
}

.post-excerpt {
  font-family: $teko-font;
  color: white;
  font-size: 18px;
  
  img {
    padding-top: 8px;
    width: 100%;
  }

 a:link, a:visited {
    //color: white;
          color: rgba(25, 181, 254, 1);


    &:hover {
      //color: rgba(25, 181, 254, 1);
      color: white;
    }
  }
}


.blog-post-title {
  font-family: $open-font;
  font-weight: lighter;
  color: white;
}

.post-content {
  font-family: $open-font;
  font-weight: lighter;
  color: white;
  margin-bottom: 24px;
  font-size: 20px;

  a:link, a:visited {
    //color: white;
          color: rgba(25, 181, 254, 1);


    &:hover {
      //color: rgba(25, 181, 254, 1);
          color: white;

    }
  }

  ol ul {
  list-style-type: disc;
  }

  img {
    padding-top: 8px;
    width: 100%;
  }
}

/* Style all font awesome icons */
.fa,
.fab,
.far,
.fas {
  padding: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fab:hover, .far:hover  {
  color: rgba(25, 181, 254, 1);
}

.fa-twitter {
  color: white;
}

.fa-envelope {
  color: white;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-fire {
  color: red;
  padding: 0px;
}

.fa-wind {
  color: rgba(175, 193, 28, 1);
  padding: 0 8px 0 0;
}

