// Google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Teko:300,400&display=swap');

@import 'font-awesome';

// Font Variables
$teko-font: 'Teko', sans-serif;
$open-font: 'Open Sans', sans-serif;


.nav-wrapper {
    text-align: center;
    
}
.list-item {
   list-style-type: none;
}

.nav-item {
  color: white;
  font-family: $teko-font;
  font-weight: lighter;
  font-size: 35px;
  text-decoration: none;
  margin-bottom: 8px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-left: 35px;

   &:hover,
   &:active {
    border-bottom-color: White;
  }
}

@keyframes myfirst {
    from {opacity: 0.2;}
    to {opacity: 1;}
}

.index-page {
    background-image: 
      linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), 
      url(/../assets/img/clouds-conifers-country.jpg);
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    //animation: myfirst 7s ;
    height: 100%;
  

    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //transition: background 5000ms ease-in 400ms;
    //transition: background-image 5000ms ease-in-out
}

.header {
    text-align: center;
}

.header-wrap {
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;
  margin-bottom: 8px;
  padding-bottom: 20px;
}

.index-wrapper {
  margin: auto;
  width: 60%;
  position: relative;
  padding-bottom: 80px;
}

.index-header {
  color: white;
  font-family: $open-font;
  font-weight: lighter;
  padding: 24px 4px 0 4px;
  margin: 0px;
}

.index-p {
  color: white;
  font-family: $open-font;
  font-weight: lighter;
  text-align: left;
  padding: 24px 4px 24px 4px;
  margin: 0px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(144,143,143,1);
  border-bottom-style: ridge;  
}

/* Style all font awesome icons */
.fa,
.fab,
.far {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  color: white;
}

.fa-envelope {
  color: white;
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-fire {
  color: red;
  padding: 0px;
}

.footer-style {
color: ivory;
  font-family: $teko-font;
  font-weight: lighter;
    font-size: 24px;
    //bottom: 0;
    width: 100%;
    position: absolute;
    height: 80px;

}

.social-wrapper {
  margin: auto;
  width: 60%;
  text-align: center;
}

.post-header {
  color: white;
  text-decoration: none;
}

.post-content {
  color: white;
}

/* Nathan Lam
   June 2, 2017
   Add this css for responsive embedded videos in your .css file. */

.embed-container {
  position: relative;
  padding-bottom: 43.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

}

