<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dynamic Accounting</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="favicon.png">

  </head>
  <body class="index-page">

    <!-- <div class="layer"> -->
    <header class="header">
        <img class="header-wrap" src="/assets/img/white-on-transparent-small.png" alt="Dynamic Accounting Blog"/>
    </header>
    {% include navigation.html %}
    {{ content }}
    {% include social.html %}
  <!-- </div> -->
  </body>
</html>