<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dynamic Accounting</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

  </head>
  <body class="index-page">
    <header class="header">
        <img class="header-wrap" src="/assets/img/white-on-transparent-small.png" alt="Dynamic Accounting Blog"/>
    </header>
    {% include navigation.html %}
    {{ content }}
    <footer class="footer-style"><p style="float:left;margin-bottom:4px;">made with 
      <a href="http://www.thecomicstrips.com/store/add.php?iid=30987">
        <i class="fa fa-fire"></i>
      </a>by
      <a href="{{ site.data.social.github.href }}{{ site.data.social.github.id }}" style="color:white;font-weight:bold;text-decoration: none;"> anka
      </a></p>
      <p style="float: right;margin:0;font-size:34px;">Contact Info: {% include social.html %}</p>
    </footer>
    {% include analytics.html %}
  </body>
</html>